#nav_menu {
    block-size: 2em;
    border-bottom: 2px blue;
}

#nav_menu ul { 
    list-style-type: none; 
}

#nav_menu ul li { 
    float: left; 
}

#nav_menu ul li a {
    text-align: center;
    display: block;
    width: 175px;
    padding: 1em 1em; 
    text-decoration: none;
    background-color: blue;
    color: white;
    font-weight: bold;
    border-right: 2px solid white; 
}

#nav_menu ul li a.lastitem { 
    border-right: none; 
}

#nav_menu ul li a.current { 
    color: yellow; 
}

body{
    width: 95%;
    margin: 15px auto
}

article {
    clear: left;
    width: 75%;
    float: left;
    column-count: 3;
    column-rule: 2px dashed blue;
    column-gap: 2em;
    margin-left: 2em;
}

article img {
    float: left;
    margin-right: 1em;
    margin-bottom: 1em;
}

aside {
    width: 20%;
    float: right;
    background-color: #add8e6;
    padding: 15px 15px;   
    border: 5px solid #3f3990;
    position: fixed; 
    top: 22em;    
    right: 20px;
}

article h2{
    color: blue;
}

article p::first-letter {
    font-size: 1em;
    font-weight: bold;
}

#order  {
    list-style-type: upper-roman;
}

#unorder {
    list-style-type: square;
}

#letterlist{
    list-style-type: lower-alpha;
}

footer {
    clear: both;
    border-top: 2px solid blue;
    text-align: center;
}